.errorFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-top: 70px;
  .oupsText {
    color: $color-light-pink;
    font-size: 36px;
    font-weight: 500;
  }

  p, a {
    font-size: 18px;
    font-weight: 500;
    color: $color-Black;
    margin-bottom: 85.5px;
  }
  .errorImage {
    width: 30%;
  }
}
