body {
    background-color: rgba(255, 255, 255, 1);
    font-family: $font-primary;
}

.img_logo {
    width: 150px;
}

.header_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

header {
    padding: 30px;
}

nav {
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 12px 20px;
        text-decoration: none;
        font-family: $font-primary;
        font-weight: 500;
        color: $color-Black;
    }
}