@use "../abstracts/variables";
@use "../abstracts/mixins";

.errorFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-top: 30px;
  .oupsText {
    color: variables.$color-light-pink;
    font-size: 36px;
    font-weight: 500;
  }

  p, a {
    font-size: 18px;
    font-weight: 500;
    color: variables.$color-Black;
    margin-bottom: 85.5px;
  }
  .errorImage {
    width: 30%;
  }
}


@include mixins.mobile {
  .errorFlex {
    gap: 50px;
  .oupsText {
    font-size: 18px;
   text-align: center;
  }
  .errorImage {
    width: 50%;
  }

    p, a {
  font-size: 15px;
  }
  }
}