.img_logo {
  width: 150px;
  margin-left: 25px;
}

.header_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height:  100px;
}

header {
  padding: 30px;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    font-family: $font-primary;
    font-weight: 500;
    color: $color-Black;
  }
}

.active,
a {
  text-decoration: underline;
  cursor: pointer;
}


@include mobile {
header {
  // margin-top: 15px;
  padding: 1px 0px 0px 0px;
  // padding: 0px;
}


.img_logo {
  width: 125px;
}


 a{
  text-transform: uppercase;
  font-size: 14px;
 }
  
}