@use "../abstracts/variables";
@use "../abstracts/mixins";

.Banner_container {
    position: relative;
  width: 100%;
  overflow: hidden;

  .banner_img {
  padding: 45px;
  height: 350px;
  width: 100%;
  position: relative;
  object-fit: cover;
  border-radius: 70px;
  filter: brightness(0.54);
}

.banner_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1{
      font-size: 40px;
    font-family: variables.$font-primary;
    font-weight: 700;
    color: variables.$color-white;
    filter: drop-shadow(2px 4px 6px variables.$color-Black);
    text-align: center;
  }
}
}



@include mixins.mobile {
  .Banner_container {
    margin-top: -40px;
    width: 113%;
    margin-left: -20px;
    position: relative;

    .banner_img {
       height: 200px;
      border-radius: 60px;
    }

    .banner_text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 55px;
      text-align: left;
      width: 100%;
      height: 100%;

      h1 {
        font-size: 20px;
        max-width: 196px;
        text-align: left;
      }
    }

  }

}
