.infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  .host_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  h1 {
    font-weight: 500;
    font-size: 36px;
    color: $color-light-pink;
    line-height: 50px;
  }

  p {
    font-weight: 500;
    font-size: 18px;
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    width: 30%;
    color: $color-light-pink;
  }
  .imgHost {
    border-radius: 70px;
    width: 25%;
  }
}

.rating_tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  .tags {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  span {
    font-weight: 700;
    font-size: 14px;
    padding: 3px 30px;
    border-radius: 10px;
    color: $color-white;
    background-color: $color-light-pink;
  }
}

.rating {
  display: flex;
  font-size: 25px;
  gap: 10px;
}

@include mobile {
  .infos {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: -90px;

    .host_info {
      top: 55px;
      position: relative;
      margin-left: 200px;
    }

    h1 {
      font-size: 17px;
      margin-left: 100px;
    }

    p {
      font-size: 13px;
      margin-left: 100px;
    }

    h3 {
      font-weight: 500;
      font-size: 15px;
      width: 30%;
      color: $color-light-pink;
    }
    .imgHost {
      border-radius: 70px;
      width: 15%;
    }

    .title_location {
      margin-left: -160px;
    }
  }
}

@include mobile {
  .rating_tags {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -40px;

    .tags {
      display: flex;
      flex-direction: row;
      margin-left: 27px;
      width: 347px;
    }

    span {
      font-size: 11px;
      padding: 3px 8px;
      border-radius: 5px;
    }
  }

  .rating {
    display: flex;
    font-size: 15px;
    margin-left: -100px;
    width: 220px;
  }
}
