.collapse-container {
  padding: 0px 100px;
  width: 100%;
  margin: 20px 0px;
  overflow: hidden;

  .titre-accordion {
    display: flex;
    background-color: $color-light-pink;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-radius: 7px;
    padding: 20px;
    cursor: pointer;
    color: $color-white;
    font-size: 24px;
  }

  h3 {
    font-weight: 700;
  }
  .description {
    background-color: $color-grey-container;
    padding: 15px 20px;
    border-radius: 0px 0px 7px 7px;
    font-size: 18px;
  }
}

.logement-collapse {
  display: flex;
  margin: 0px -40px;
}

@include mobile {
  .collapse-container {
    .titre-accordion {
      font-size: 13px;
      height: 0px;
    }
  }

  .collapse-container {
    margin-left: -70px;
    // margin-top: 0px;
    width: 140%;
    margin-bottom: -5px;
  }

  .logement-collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }

  .container-accordeon {
    margin-top: -30px;
  }
}
