@use "../abstracts/variables";
@use "../abstracts/mixins";

.collapse-container {
  padding: 0px 100px;
  width: 100%;
  margin: 20px 0px;
  overflow: hidden;

  .titre-accordion {
    display: flex;
    background-color: variables.$color-light-pink;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-radius: 7px;
    padding: 20px;
    cursor: pointer;
    color: variables.$color-white;
    font-size: 24px;
    border: none;
    width: 100%;
  }

  span {
    font-weight: 700;
  }
  .description {
    background-color: variables.$color-grey-container;
    padding: 15px 20px;
    border-radius: 0px 0px 7px 7px;
    font-size: 18px;
  }
}

.logement-collapse {
  display: flex;
  margin: 0px -40px;
  justify-content: space-between;
  gap: 40px;

  .text-infos {
  min-height: 175px;
}
}

@include mixins.mobile {
  .collapse-container {
    .titre-accordion {
      font-size: 13px;
      height: 0px;
    }
  }

  .collapse-container {
    width: 100%;
    padding: 0px;
  }

  .logement-collapse {
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    gap: 0px;
  }

}
