@use "../abstracts/variables";
@use "../abstracts/mixins";

footer {
  width: 100%;
  background-color: variables.$color-Black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  gap: 20px;
  margin-top: 77px;
   height: 209px;

  img {
    margin-top: 30px;
    width: 100px;
  }

  p {
    color: variables.$color-white;
  }
}

@include mixins.mobile {
  footer {
    margin-top: 0px;
     img {
    margin-top: 50px;
  }
  }
}
