@use "../abstracts/variables";
@use "../abstracts/mixins";

.img_logo {
  width: 210px;
  margin-left: 25px;
}

.header_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height:  100px;
}

header {
  padding: 30px;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    font-family: variables.$font-primary;
    font-weight: 500;
    font-size: 24px;
    color: variables.$color-Black;
  }
}

.active,
a {
  text-decoration: underline;
  cursor: pointer;
}


@include mixins.tablette {
header {
  padding: 20px 0px 0px 0px;
}

.header_box {
  height:46px;
}

.img_logo {
  width: 145px;
  margin-left: 0px;
}

nav {

  a{
  font-size: 12px;
 }
}
 

   ul {
   text-transform: uppercase;
  //  width: 100%;
  //  width: 335px;
  }
  
}