.banner_img {
  padding: 45px;
  height: 45vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: cover;
  border-radius: 70px;
  filter: brightness(0.54);
}

.banner_text h1 {
  font-weight: 700;
  font-family: $font-primary;
  position: absolute;
  font-size: 40px;
  color: $color-white;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(2px 4px 6px $color-Black);
}

@include mobile {
  .Banner_container {
    width: 510px;
    margin-top: -40px;
    .banner_img {
      height: 37vh;
      border-radius: 60px;
    }
    .banner_text h1 {
      font-size: 25px;
      position: absolute;
     width: 243px;
     top: 30%;
    }
  }
}
