.DisplayCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 70px;

  .CardPictures {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    filter: brightness(0.9);
  }

  .textTitle {
    color: $color-white;
    position: relative;
    left: 20px;
    bottom: 70px;
    font-size: 18px;
    font-weight: 700;
    width: 57%;
    line-height: 30px;
  }
}

@include mobile {
  .DisplayCard {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: -20px;

    .CardPictures {
      width: 93%;
      margin-left: -20px;
      border-radius: 10px;
      filter: brightness(0.9);
    }

    .textTitle {
      width: 80%;
      left: 0px;
      bottom: 85px;
      line-height: 40px;
    }
  }
}
